<h3>Invoice ID: <%= @invoice.id %></h3><br>

<a>Status: <%= @invoice.status %></a><br>
<a>Created At: <%= @invoice.formatted_created_at %></a><br>
<a>Customer Name: <%= @invoice.customer_name %></a><br><br>

<h3>My Items on This Invoice:</h3>

<% @merchant.current_invoice_items(@invoice.id).each do |invoice_item| %>
<section id="invoice_item-<%= invoice_item.id %>">

<% if invoice_item.has_discount? %>
  <%= link_to "Discount Applied", "/merchants/#{@merchant.id}/discounts/#{invoice_item.discount[0].id}" %>
<% end %>
  Item Name: <%= invoice_item.item.name %><br>
  Quantity Ordered: <%= invoice_item.quantity %><br>
  Item Price: <%= invoice_item.price_to_dollars %><br>
  Invoice Item Status: <%= invoice_item.status %><br>
  Update This Items Status: <%= form_with url: "/merchants/#{@merchant.id}/invoice_items", method: :patch, local: true do |f|%>
    <%= f.select :status, InvoiceItem.statuses.keys, value: "#{invoice_item.status}" %>
    <%= f.hidden_field :invoice_item_id, value: "#{invoice_item.id}"  %>
    <%= f.hidden_field :invoice_id, value: "#{@invoice.id}"  %>

    <%= f.submit 'Update Item Status' %>
  <% end %>
  <br><br>

</section>


<% end %>
<h3>Total Revenue From This Invoice:</h3>
<section id="total_revenue">
  Revenue: $<%= (@invoice.revenue_for_merchant(@merchant) / 100.to_f).round(2) %>
</section>

<h3>Discounted Revenue From This Invoice:</h3>
<section id="discounted_revenue">
  Revenue: $<%= (@invoice.discounted_revenue_for_merchant(@merchant) / 100.to_f).round(2) %>
</section>

<h3>Revenue From This Invoice After Discount:</h3>
<section id="revenue_after_discount">
  Revenue: $<%= (@invoice.revenue_after_discount(@merchant) / 100.to_f).round(2) %>
</section>
