<h1><u>Admin Invoice Show</u></h1>
<h3>Invoice Id: <%= @invoice.id %></h3>
<h3>Status: <%= @invoice.status %></h3>
<h3>Created: <%= @invoice.formatted_created_at %></h3>
<h3>Customer First Name: <%= @invoice.customer.first_name %></h3>
<h3>Customer Last Name: <%= @invoice.customer.last_name %></h3>
<h1> Invoice Number: <%= @invoice.id %></h1>
 <h2><b>Items:</b></h2>
  <% @invoice.invoice_items.each do |invoice_item| %>
  <h3><%= invoice_item.item.name %></h3>
  <p>     Price: $<%= "%.2f" % invoice_item.price_to_dollars %><br>
       Quantity sold: <%= invoice_item.quantity %><br>
       Invoice Item Status: <%= invoice_item.status %>
     _______________________</p>

  <h4>Total Revenue: $<%= Invoice.revenue_for_invoice(@invoice.id) %></h4>
    <% end %>

  <section id="invoice_status_update">
    <h4>Invoice Status: <%= @invoice.status %></h4>
    <h4>Change Invoice Status:</h4>
    <%= form_with model: @invoice, url: admin_invoice_path(@invoice),  method: :patch, local: true do |f| %>
    <%= f.select(:status, options_for_select([['cancelled'], ['in progress'], ['completed']], :selected => @invoice.status)) %>
    <%= f.submit "Submit" %>
    <% end %>
  </section>
